@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');

/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

ol, ul {
	list-style: none;
    padding: 0;
    margin: 0;
}

/* Basic Styles */

body {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

header {
    background-color: #F5C001;
    padding-bottom: 0;
    margin-bottom: 0;
}

/* Classes */

.header-nav ul {
    display: flex;
    gap: 1rem;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
}

.header-nav li {
    padding: 2rem;
    font-size: 1.25rem;
    font-weight: 500;
}

.header-nav a {
    text-decoration: none;
    color: black;
}

.left {
    margin-right: auto;
    margin-left: 8rem;
}

.right {
    margin-left: auto;
}

li:nth-last-child(1) {
    margin-right: 8rem; /* Move the hamburger closer to the center */
}

.header-nav-mobile {
    display: none;
}

.hero {
    text-align: center;
    padding: 1rem;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: "Gowun Batang", serif;

}

.hero h1 {
    font-size: 12rem;
    padding: 0;
    margin: 0;
}

.hero p {
    font-size: 3rem;
    padding: 0;
    padding-top: 3rem;
    margin: 0;
}

.intro {
    background-color: #0A4841;
    color: #fff;
    text-align: center;
    padding: 25rem;
    padding-top: 0;
    padding-bottom: 6rem;
    margin-top: 0;
}

.intro p {
    margin-top: 0;
    padding-top: 4rem;
    font-size: 1.75rem;
}

.center-nav {
    padding: 4rem 1rem;
    text-align: center;
}

.center-nav li {
    padding: 2rem;
}

.center-nav a {
    text-decoration: none;
    font-size: 2rem;
    color: #000;
    padding: 0 2.5rem;
}


/* Fullscreen overlay menu */
.overlay {
    height: 100%;  /* Fullscreen height */
    width: 100%;   /* Fullscreen width */
    position: fixed;  /* Stays in place */
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9); /* Black background with opacity */
    display: none;  /* Initially hidden */
    z-index: 1;     /* Ensure it sits above all other content */
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay-content a {
    padding: 10px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}

.overlay-content a:hover {
    text-decoration: underline;
    
}

/* Close button in the top right corner */
.close-btn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: white;
    text-decoration: none;
}

.close-btn:hover {
    color: #ccc;
}

@media (max-width: 1200px) {
    .header-nav {
        display: none;
    }
    .header-nav-mobile {
        display: flex;
        gap: 1rem;
        text-transform: uppercase;
        align-items: center;
        justify-content: space-between;
        padding: .5rem;
    }
    .hero h1 {
        font-size: 6rem;
    }
    .hero p {
        font-size: 2rem;
    }
}

@media (max-width: 1024px) {
    .hero h1 {
        font-size: 4rem;
    }
    .hero p {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {

    
    .hero h1 {
        font-size: 3rem;
    }
    .hero p {
        font-size: 2rem;
    }
}

@media (max-width: 400px) {
    .hero h1 {
        font-size: 1.5rem;
    }
    .hero p {
        font-size: 1rem;
    }
    .header-nav li {
        font-size: 1.25rem;
        font-weight: 500;
    }
}






